body {

    font-family: 'Patua One', cursive !important;
    background-color: #183661;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231c4b82'/%3E%3Cstop offset='1' stop-color='%23183661'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23dd6b4d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23dd6b4d' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
  }

  .bigi {
    align-self: center;
    font-size: 5rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    /* position: absolute; */
    /* text-align: center; */
    font-family: 'Luckiest Guy', cursive;
    /* margin-top: 40vh !important; */
    transition: all .3s ease;
  }

  .b-2 {
      font-size: 3em;
  }
  .bigi:hover {
    /* color: #dd6b4d; */
    text-indent: 1em;
  }